:root {  /*
  --green: rgb(16, 226, 128);
  --orange: rgb(255, 111, 58);
  --gradient-1: rgb(46, 34, 153);
  --gradient-2: rgb(27, 20, 90); */
  
}

html {
  font-size: 10px;
  font-weight: 300;
  margin-top: 50px;
}

body {
  width: 90vw;
  margin: 0 auto;
  background-color: rgb(34, 34, 34);
}

main {
  text-align: center;
  background-color: rgb(90, 90, 90);
  border: 6px solid rgb(38, 192, 0);
  border-radius: 2rem;
  min-height: 80vh;
  padding: 1rem;
  color: whitesmoke;
}

h1 {
  font-size: 2.2rem;
  margin: 8rem 0;
}

p {
  font-size: 1.8rem;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  cursor: pointer;
  background-color:rgb(38, 192, 0);
  padding: 2rem;
  border-radius: 4rem 4rem 0 0;
  color: whitesmoke;
}

button:last-child {
  background: rgb(26, 129, 0);
  border-radius: 0 0 4rem 4rem;
  color: whitesmoke;
}

h3 {
  font-size: 2rem;
}

input:focus {
    outline: none;
}

input {
  border: 1px solid whitesmoke;
  border-radius: 4rem;
  background: transparent;
  margin: 2rem 0;
  padding: 1rem 0;
  width: 16rem;
  text-align: center;
  color: whitesmoke;
  
}

#range {
  display: flex;
  background: linear-gradient(rgb(45, 226, 0), rgb(24, 121, 0));
  height: 50px;
  padding: 0;
  margin: 0 0 4rem 0;
  border: 3px solid rgb(54, 54, 54);
  border-radius: 3rem;
}

#range-output {
  font-size: 1.6rem;
}

::-webkit-inner-spin-button {
  display: none;
}

.stats {
  text-align: left;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info span {
  font-size: 1.6rem;
}

#new-game-button {
  border-radius: 2rem;
  background: linear-gradient(rgb(38, 192, 0), rgb(24, 121, 0));
}

.flash {
  animation: flash 1s infinite;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

#space {
  border-radius: 3rem;
}

@media (min-width: 800px) {
  body {
    width: 45vw;
  }
}